<!DOCTYPE html>
<html>
    <head>
    {% load staticfiles %}
        <link rel="stylesheet" href="/~p11/mysite{% static "style.css" %}">
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <p class="nav"><a href="{% url 'index' %}">Wszystkie wpisy</a></p>
                <p class="nav"><a href="{% url 'Uonly' %}">Moje Wpisy</a></p>
                {% if not logged %}
                <p class="nav"><a href="{% url 'login' %}">Login</a></p>
                <p class="nav"><a href="{% url 'register' %}">Rejestracja</a></p>
                {% endif %}
                {% if logged %}
                <p class="nav"><a href="">Zalogowany jako {{user.username }}</a></p>
                <p class="nav"> <a href="{% url 'logout' %}">Logout</a></p>
                {% endif %}
            </div>
            <div class="content">
            {% if aht %}
                {{aht}}
             {% endif %}
            {% if logged %}
                <form class="dodajWpis" method="post" action="{% url 'index' %}">
                    {{dodaj.as_p}}
                <input type="submit" value="Dodaj Wpis!"/>
                </form>
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>