{% extends "base.html" %}
{% block title %}
        Strona Główna
{% endblock %}

{% block content %}
<h3 class="title" xmlns="http://www.w3.org/1999/html">Wszystkie wpisy:</h3>
    {% for wpis in wpisy %}
        <div class="wpis">

            {{wpis.content}}</br>
            <span style="display: inline-block">
             Data Dodania: {{wpis.date}} | Autor: {{wpis.author.username}}
            {% if wpis.author.id == user.id %}
            <form method="post" style="display: inline-block"  action="delete/{{wpis.id}}/">
                <input value="Usuń Wpis" type="submit"/>
            </form>
            {% endif %}
             </span>
        </div>
    {% empty %}
        <div class="wpis">
            Brak wpisow
        </div>
    {% endfor %}
        </br>


{% endblock %}
