{% extends "base.html" %}
{% block title %}
        Login
{% endblock %}

{% block content %}
        {% if ahtung %}
            <p class="warning">
                PODAJ POPRAWNE DANE!
            </p>
        {% endif %}
        <form class="login" method="get" action="{% url 'microblog.views.Login'  %}">
        {{form.as_p}}
         <input type="submit" value="Zaloguj"/>
        </form>
{% endblock %}