{% extends "base.html" %}
{% block title %}
Rejestracja
{% endblock %}

{% block content %}
<form class="login" method="POST" action="r{% url 'microblog.views.Register' %}">
    {% if ahtung %}
    <p class="warning">
        PODAJ POPRAWNE DANE!
    </p>
    {% endif %}
    {{form.as_p}}
    <input type="submit" value="Zarejestruj"/>
</form>
{% endblock %}