{% extends "base.html" %}
{% block title %}
Strona Główna
{% endblock %}

{% block content %}
<h3 class="title">Moje wpisy:</h3>
{% for wpis in wpisy %}
<div class="wpis">
    {{wpis.content}}</br>
            <span style="display: inline-block">
             Data Dodania: {{wpis.date}} | Autor: {{wpis.author.username}}
    {{wpis.content}}
    {% if wpis.author.id == user.id %}
    <form method="post" style="display: inline-block"  action="{% url 'microblog.views.Delete2' %}">
        <input type="hidden" value="{{wpis.id}}" name="id_form" id="id"/>
        <input value="Usuń Wpis" type="submit"/>
    </form>
    {% endif %}
                </span>

</div>
{% empty %}
<div class="wpis">
    {% if not logged %}
    NIE JESTES ZALOGOWANY
    {% endif %}
    <p>Brak wpisow</P>
</div>
{% endfor %}
        </br>


{% endblock %}
