body{
    background-color: ghostwhite;
    text-align: center;

}
div.container{
    background-color: white;
    margin-left: 23%;
    margin-right: 23%;
    margin-bottom: 3%;
    margin-top: 3%;
    box-shadow: 5px 5px 2px #888;
}
h3.title{
    text-align: left;
}

div.menu{
    text-align: center;
    height: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
a:hover{
    background-color: orange;
    text-decoration: none;
}
.nav{
    display: inline;
    height:30px;
    background-color: ThreeDShadow;
    border-color: black;
    margin: 0px;
    padding: 0px;
}
form.dodajWpis{
    text-align: center;
}

form.login{
    text-align: center;
    box-shadow: 5px 5px 2px #888;
    background-color: ghostwhite;
}

div.wpis{
    background-color: lightgray;
    padding: 10px;
    margin: 14px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px 2px #888;
    margin-bottom: 30px;
}
